# Core functionality - changes here should be rare!
/src/app.py                   @sachila24
/src/backend/database.py      @sachila24
/src/backend/routers/auth.py  @sachila24

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sachila24
